@model Web.Models.CollectForm

@{
	ViewBag.Title = "Collect";

	var sourceFiles = ViewBag.SourceFiles as List<string>;
}

<div class="container main-content">

	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
						<i class="icon-vk"></i> VK
					</a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in">
				<div class="panel-body">

					@*<div class="form-group">
							<label for="inputFile">Select input file</label>
							<input type="file" name="inputFile" id="inputFile">
							<p class="help-block">File contains user or group ids separated by new line</p>
						</div>*@



					@using (@Html.BeginForm())
					{
						@Html.ValidationSummary()

						<div class="form-group">
							<label>Select need data</label> <br />
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-primary">
									@Html.RadioButtonFor(m => m.Method, "users.get") User info
								</label>
								<label class="btn btn-primary">
									@Html.RadioButtonFor(m => m.Method, "groups.getById") Group info
								</label>
								<label class="btn btn-primary">
									@Html.RadioButtonFor(m => m.Method, "wall.get") Wall posts
								</label>
								<label class="btn btn-primary">
									@Html.RadioButtonFor(m => m.Method, "users.getSubscriptions") User subscriptions
								</label>
								<label class="btn btn-primary">
									@Html.RadioButtonFor(m => m.Method, "wall.getReposts") Reposts
								</label>
							</div>
						</div>
						<div class="form-group">
							<label for="inputFile">Select input file</label>
							<p class="help-block">File contains user or group ids separated by new line</p>

							@foreach (var filename in sourceFiles)
							{
								<div class="radio">
									<label>
										<input type="radio" name="inputFile" id="inputFile" value="@filename">
										@filename
									</label>
								</div>
							}

						</div>


						@Html.Hidden("network", "vkontakte")
						<button type="submit" class="btn btn-default">Start collect</button>
					}

				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
						<i class="icon-facebook"></i> Facebook
					</a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse">
				<div class="panel-body">
					Not implemented
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
						<i class="icon-twitter"></i> Twitter
					</a>
				</h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse">
				<div class="panel-body">
					Not implemented
				</div>
			</div>
		</div>
	</div>

</div>