@model List<CollectTask>

@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<div class="container">

		@if (Model.Count > 0)
		{
			<h1>Current collect tasks</h1>
			<ul>
				@foreach (var item in Model)
				{
					var output = (item.Output as CollectTaskIOFile).Filename;
					<li>@item.SocialNetwork: @item.Method - @Math.Round((double)item.CounterItems/item.AllItems*100,2)% - output: @output</li>
				}
			</ul>
		}
		else
		{
			<h1>All task is done!</h1>
			<p>
				To create new task, go to Collect page
			</p>
		}
		<p>@Html.ActionLink("New task »", "Index", new { controller = "CollectTask" }, new { @class = "btn btn-primary btn-lg" })</p>
	</div>

</div>

<div class="container">

	test

</div>
