@model List<CollectTask>

@{
	ViewBag.Title = "Home Page";

	var completedTask = Model.Where(t => t.IsCompleted == true).ToList();
	var inProcessTask = Model.Where(t => t.IsCompleted != true).ToList();
}

<div class="jumbotron">
	<div class="container">

		@if (inProcessTask.Count > 0)
		{
			<h1>Current collect tasks</h1>
			<ul>
				@foreach (var item in inProcessTask)
				{
					string output = "undefined";
					if (item.Output is CollectTaskIOFile)
					{
						output = Path.GetFileName((item.Output as CollectTaskIOFile).Filename);
					}
					if (item.Output is CollectTaskIODatabase)
					{
						output = "database";
					}
					<li>@item.SocialNetwork: @item.Method - @Math.Round((double)item.CounterItems/item.AllItems*100,2)% - @output</li>
				}
			</ul>
		}
		else
		{
			<h1>All task is done!</h1>
			<p>
				To create new task, go to Collect page
			</p>
		}
		<p>@Html.ActionLink("New task »", "Index", new { controller = "CollectTask" }, new { @class = "btn btn-primary btn-lg" })</p>
	</div>

</div>

<div class="container">

	@if (completedTask.Count != 0)
	{
		<h1>Completed task</h1>

		<ul>
			@foreach (var item in completedTask)
			{
				string output = "undefined";
				if (item.Output is CollectTaskIOFile)
				{
					output = Path.GetFileName((item.Output as CollectTaskIOFile).Filename);
				}
				if (item.Output is CollectTaskIODatabase)
				{
					output = "database";
				}
				<li>@item.SocialNetwork: @item.Method - @output</li>
			}
		</ul>
	}
</div>
